@font-face {
  font-family: Karla700;
  src: url(..\\Fonts\\Karla\\static\\Karla-Bold.ttf);
}

@font-face {
  font-family: Karla400;
  src: url(..\\Fonts\\Karla\\static\\Karla-Regular.ttf);
}

body{
  background-color: hsl(204, 43%, 93%);
  padding: 15% 25%;
}

p{
  font-size: 16px;
  font-family: Karla400;
}

main{
  width: 100%;
  border-radius: 100px;
}

.survices{
  background-color: #fff;
  padding: 50px;
  border-radius: 10px 10px 0 0 ;
}

h2{
  color: hsl(179, 62%, 43%);
  font-family: Karla700;
  margin-bottom: 28px;
}

.survices h3{
  color: hsl(71, 73%, 54%);
  font-family: Karla700;
}

.survices p{
  color: #c4c7cf;
  margin-bottom: -6px;
}

.container{
  width: 100%;
  display: flex;
}

.left{
  width: 50%;
  background-color: #2bb3b1;
  padding: 50px;
  border-radius: 0 0 0 10px;
}

.right{
  width: 50%;
  background-color: #4abebd;
  padding: 50px;
  border-radius: 0 0 10px 0;
}

.container h3{
  color: #ecfbfb;
  font-family: Karla400;
}

.container p{
  color: #b3edef;
}

.duration{
  color: #5cdbdd;
}

.price{
  color: #f2fefe;
  font-family: Karla700;
  font-size: 30px;
}

button{
  width: 100%;
  background-color: hsl(71, 73%, 54%);
  color: #f6fcbd;
  border-radius: 5px;
  border: none;
  padding: 10% 0;
  font-family: Karla400;
}

ul{
  list-style: none;
  padding: 0;
  font-family: Karla400;
  color: #a6d8e4;
}

.attribution { font-size: 11px; text-align: center;}

.attribution a { color: hsl(228, 45%, 44%);}

@media (max-width: 376px){
  body{
    padding: 10% 5%;
  }

  .survices p{
    display: inline;
  }

  .container{
    display: block;
  }

  .left{
    border-radius: 0  0 0 0;
    width: auto;
  }

  .right{
    border-radius: 0 0 10px 10px;
    width: auto;
  }
}